<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/vdm2alloy/src/org/overture/alloy/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jre6"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.overture.alloy.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-vdm &quot;C:\Users\kel\Dropbox\OvertureAlloy\CountryColouringSL\CountryColouring.vdmsl&quot; -o country -v"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="vdm2alloy"/>
</launchConfiguration>
